/* You can add global styles to this file, and also import other style files */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FF9933;
}

a:hover {
  cursor: pointer;
  text-decoration: none !important;
}

td {
  white-space: normal;
  word-wrap: break-word;
}

.footer {
  background-color: #ebebeb;
  padding: 2px 0px 2px 0px;
  text-align: left;
  border: 1px solid #ddd;
}

a .title {
  color: #333;
  display: inline;
}

a .storylink {
  color: #828282;
  display: inline;
}
